.App {

	button {
		font-weight: bold;
	}

	.heading {
		color: azure;
		background: blue;
	}

	.username {
		color: black;
		background: size 2px;
	}

	.header {
		border: 1px solid black;
		height: 50px;
	}

	.text {
		text-align: right;
		padding: 10px;
	}

	.home {
		float: left;
		padding: 10px;
	}

	.body {
		height: 100vh;
		width: 100vw;
	}

	.login {
		float: left;
		width: 50%;
		height: 100%;
		color: rgb(17, 82, 17);
	}

	.title {
		text-align: left;
		padding: 30px;
	}

	.username {
		margin-left: 5%;
	}

	.picture {
		float: right;
		width: 50%;
		height: 100%;
		position: relative;
	}

	.rectangle1 {
		border: 1px solid black;
		width: 200px;
		height: 200px;
		position: absolute;
    left: 50px;
    top: 50px;
	}

	.rectangle2 {
		border: 1px solid black;
		width: 200px;
		height: 200px;
		position: absolute;
    left: 150px;
    top: 150px;
	}
}
