.App {

	button {
		font-weight: bold;
	}

	.heading {
		color: azure;
		background: blue;
	}

	.username {
		color: black;
		background: size 2px;
	}

	.header {
		border: 1px solid black;
		height: 50px;
	}

	.text {
		padding: 10px;
		text-align: right;
	}

	.login {
		color: rgb(17, 82, 17);
	}

	.title {
		text-align: left;
		padding: 30px;
	}
}
